#intro-page-wrapper{
	text-align: center;
	overflow: scroll;
	position: absolute;
	width: 100%;
	background-color: rgba(64,64,64,0.95);
	top: 0px;
	left: 0px;
	z-index: 1000000000;
	color: #f2f2f2;
}

#intro-page-wrapper h1{
	font-family: 'Varela Round', sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#intro-page-wrapper p{
	line-height: 125%;
	width: 60%;
	margin: auto;
	text-align: justify;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#intro-page-wrapper button{
	font-family: 'Varela Round', sans-serif;
	text-transform: uppercase;
	text-align: center;
	width: 225px;
	padding: 15px;
	color: white;
	background-color: orange;
	margin: auto;
	font-size: 18px;
	margin-top: 30px;
	border: 0px;
	letter-spacing: 3px;
}

#intro-page-wrapper button:hover{
	cursor: pointer;
	background-color: #ffc04d;
}


#wrapper{
	margin: auto;
	width: 800px;
	text-align: center;
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;
}

#header h1{
	letter-spacing: 2px;
	font-size: 48px;
	font-weight: 400;
}
#input{
	margin-top: 30px;
	margin-bottom: 30px;
}

input[type="text"]{
	font-size: 16px;
	text-align: center;
}



#weather-location{
	font-size: 36px;
	margin-bottom: 30px;
}

#weather-location img{
	margin-top: 30px;
	height: 200px;
	width: 200px;
	padding: 30px;
}


#weather-canvas{
	height: 250px;
}

#input-text {
	height: 46px;
	vertical-align: top;
}

#submit-button {
/*	margin-top: -20px;
*/	margin-left: 20px;
	width: 80px;
	height: 52px;
	color: white;
	background: #428bca;
	border: 0px;
}

#current-temp{
	position: relative;
}

#weather-info{
	position: absolute;
	top: 391px;
	left: 49%;
}

#degree-symbol{
	position: absolute;
	top: 312px;
	left: 52%;
}

#degree-symbol img{
	height: 70px;
	width: 35px;
}

#day0, #day1, #day2, #day3, #day4{
	float: left;
	width: 20%;
	font-size: 12px;
	box-sizing: border-box;
	margin-top: 30px;
}

#temp0, #temp1, #temp2, #temp3, #temp4{
	float: left;
	width: 50%;
}

#icon0, #icon1, #icon2, #icon3, #icon4{
	float: left;
	width: 50%;
}




input::-webkit-input-placeholder { /* WebKit browsers */
  padding-left: 10px;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  padding-left: 10px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  padding-left: 10px;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  padding-left: 10px;
}